<!DOCTYPE html>
  <html>
    <head>
    <title>Bidding</title>
      <!--CSS-->
      <link rel="icon" href="icons/favicon.ico">
      <link rel="stylesheet" type="text/css" href="{{config 'cdn'}}/css/Semantic-UI-CSS-master/semantic.css" />
      <link rel="stylesheet" type="text/css" href="{{config 'cdn'}}/css/dataTables.semanticui.min.css" />

      <!--JAVASCRIPT -->
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/semantic.min.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/y-1.12.3.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/dataTables.semanticui.min.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/angular.min.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/angular-datatables.min.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/semantic.min.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/moment.min.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/locales.min.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/humanize-duration.js"></script>
      <script type="text/javascript" src="{{config 'cdn'}}/scripts/angular-timer.min.js"></script>
      <link type="text/css" rel="stylesheet" href="{{config 'cdn'}}/css/angular-datatables.css"/>
    </head>

    <body style="background-image: url('/icons/bg2.png');  background-repeat: no-repeat;
    background-attachment: fixed;">