<div class="ui horizontal divider">Contact Us</div>
  <div class="ui grid">
    <div class="twelve wide column centered">
      <div class="ui inverted green segment">
YouBid is a modernized online bidding website. Whether you are buying appliances, 
electronics or clothings this website is the place to be. We always offer full and friendly support 
phone or email . Fast delivery with tracking number on purchased items. Offers reward ponts for retailer customers. 
The most fun you'll ever have shopping online.
    </div>
    </div>
  </div>