<!-- Page Contents -->
<div class="pusher">
  <div class="ui vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="active item" href="/">Home</a>
        <div class="right item">
          <a class="ui inverted button logIn">Log in</a>
          <a class="ui inverted basic button" href="/register">Sign Up</a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Online Bidding 
      </h1>
      <h2 class="ui inverted header">Mangement System with Logistics.</h2>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui inverted header">Register now to see what's inside.</h3>
      <p style="color:white;">We offer item that are purchasable at a small amount with high quality we deliver anywhere where our branch reaches you.</p>


      <h3 class="ui inverted header">Did We Tell You How Easy It Is To Register In Our Website?</h3>
      <p style="color:white;">You'll just click the register button and you'll fill up the required fields and our administrator will look up to your profile to be approved.</p>
      <a class="ui inverted red large button" href='/register'>Register Here!!</a>
    </div>
  </div> 
<script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>

  <style type="text/css">
    .hidden.menu {
      display: none;
    }
    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
  </style>

  <div class="ui small modal" id="login">
    <i class="close icon"></i>
    <div class="ui vertical divider"></div>
    <div class="ui container two column middle aligned very relaxed stackable grid">
      <div class="row"></div>
      <div class="column">
        <form action="/loginAccount" method="POST" class="ui form">
          <input type="hidden" name="_token" value="{{ csrf_token() }}">
          <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Username" name="username" id="username">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password" placeholder="Password" name="password" id="password">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui grid">
            <div class="row"></div>
            <div class="five wide column"></div>
            <input type="submit" class="ui blue submit button" value="Login"></input>
          </div>
        </form>
      </div>
      <div class="ui vertical divider">
          Or
      </div>
      <div class="center aligned column">
        <a class="ui big green labeled icon button" href='/register'>
          <i class="signup icon"></i>Sign Up
        </a>
      </div>
      <div class="row"></div>
    </div>
  </div>

<a href="#" class="scrollToTop" style="background: url('icons/Arrow_up.png') no-repeat 0px 20px;"></a>

<script>
$(document).ready(function(){
     $('.logIn').click(function(){
        $('#login').modal('show');    
     });
});

  $('.menu .item')
    .popup({
    inline   : true,
    hoverable: true,
    transition: 'slide right',
    setFluidWidth: false,
    position : 'right center'
  });

$('.special.cards .image').dimmer({
  on: 'hover'
});


$(document).ready(function(){
  $(window).scroll(function(){
    if ($(this).scrollTop() > 100) {
      $('.scrollToTop').fadeIn();
    } else {
      $('.scrollToTop').fadeOut();
    }
  });
  $('.scrollToTop').click(function(){
    $('html, body').animate({scrollTop : 0},800);
    return false;
  });
});


</script>
    </body>
  </html>