<a href="/sample">Index</a>

<div class="auth-signup-body auth-form container">
<div class="panel panel-default clear">
<form method="post" action="/sample/create"
{{#if cdn_config}}
    data-do="cdn-upload"
    data-on="submit"
    data-progress="{{_ 'We are uploading your files. Please do not refresh page.'}}"
    data-complete="{{_ 'Upload Complete'}}"
    data-enctype="{{cdn_config.form.enctype}}"
    data-method="{{cdn_config.form.method}}"
    data-action="{{cdn_config.form.action}}"
    data-cdn="{{cdn_config.form.action}}"
    data-acl="{{cdn_config.inputs.acl}}"
    data-key="{{cdn_config.inputs.key}}"
    data-credential="{{cdn_config.inputs.X-Amz-Credential}}"
    data-algorythm="{{cdn_config.inputs.X-Amz-Algorithm}}"
    data-date="{{cdn_config.inputs.X-Amz-Date}}"
    data-policy="{{cdn_config.inputs.Policy}}"
    data-signature="{{cdn_config.inputs.X-Amz-Signature}}"
{{/if}}>
<div
    data-do="image-field"
    data-name="imagepath"
    data-width="200"
    data-height="200"
    data-alt="Change this Photo"
    class="image-field">
    {{#if item.imagepath}}
        <img width="200" src="{{item.imagepath}}" />
        <input type="hidden" name="imagepath" value="{{item.imagepath}}" />
    {{else}}
        <img width="200" src="/images/default-avatar.png" />
    {{/if}}
</div>
<div class="form-group">
    <div class="input-group">
	<input type="hidden" name="sampleID" value="{{item.id}}">
	<label>Name:</label>
	<input type="text" name="sampleName" value="{{item.sampleName}}"><br>
	</div>
	<input type="hidden" name="csrf" value="{{csrf}}" />
	<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</div>

<script type="text/javascript" src="/scripts/cropper.js"></script>
