<a href="/sample">Index</a>

<div class="auth-signup-body auth-form container">
<form method="post">
	<label>Name:</label>
	<input type="text" name="sampleName"><br>
	<!-- START: Captcha -->
                        <div class="form-group{{#if errors.captcha}} has-error{{/if}}">
                            <script src="https://www.google.com/recaptcha/api.js"></script>
                            <div class="g-recaptcha" data-sitekey="{{captcha}}"></div>
                            {{#if errors.captcha}}
                            <span class="help-text">{{errors.captcha}}</span>
                            {{/if}}
                        </div>
                        <!-- END: Captcha -->
	<input type="hidden" name="csrf" value="{{csrf}}" />
	<button type="submit" >Submit</button>
</form>
</div>
    <!--<script src="{{config 'cdn'}}/scripts/js/googlecaptcha.js?onload=onloadCallback&render=explicit" async defer></script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>